includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - inc
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
