parameters:
	ignoreErrors:
		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ActivatePlugins\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ActivatePlugins.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\CustomizerImport\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/CustomizerImport.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\DownloadFiles\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/DownloadFiles.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\Finalize\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/Finalize.php

		-
			message: '#^Call to static method get\(\) on an unknown class FluentForm\\Framework\\Support\\Arr\.$#'
			identifier: class.notFound
			count: 12
			path: inc/App/Ajax/Backend/ImportFluentForms.php

		-
			message: '#^Call to static method insert\(\) on an unknown class FluentForm\\App\\Models\\FormMeta\.$#'
			identifier: class.notFound
			count: 1
			path: inc/App/Ajax/Backend/ImportFluentForms.php

		-
			message: '#^Call to static method insertGetId\(\) on an unknown class FluentForm\\App\\Models\\Form\.$#'
			identifier: class.notFound
			count: 1
			path: inc/App/Ajax/Backend/ImportFluentForms.php

		-
			message: '#^Call to static method persist\(\) on an unknown class FluentForm\\App\\Models\\FormMeta\.$#'
			identifier: class.notFound
			count: 1
			path: inc/App/Ajax/Backend/ImportFluentForms.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportFluentForms\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportFluentForms.php

		-
			message: '#^Instantiated class LS_ImportUtil not found\.$#'
			identifier: class.notFound
			count: 1
			path: inc/App/Ajax/Backend/ImportLayerSlider.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportLayerSlider\:\:importLayerSlider\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: inc/App/Ajax/Backend/ImportLayerSlider.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportLayerSlider\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportLayerSlider.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportMenus\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportMenus.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportRevSlider\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportRevSlider.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: inc/App/Ajax/Backend/ImportSettings.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportSettings\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportSettings.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: inc/App/Ajax/Backend/ImportSettings.php

		-
			message: '#^Variable \$forms in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: inc/App/Ajax/Backend/ImportSettings.php

		-
			message: '#^Variable \$forms might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: inc/App/Ajax/Backend/ImportSettings.php

		-
			message: '#^Variable \$settings in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: inc/App/Ajax/Backend/ImportSettings.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportWidgets\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportWidgets.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 1
			path: inc/App/Ajax/Backend/ImportXmlChunk.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\ImportXmlChunk\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/ImportXmlChunk.php

		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: inc/App/Ajax/Backend/Initialize.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\Initialize\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/Initialize.php

		-
			message: '#^Offset ''basedir'' on \*NEVER\* in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 2
			path: inc/App/Ajax/Backend/Initialize.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 2
			path: inc/App/Ajax/Backend/Initialize.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: inc/App/Ajax/Backend/Initialize.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 1
			path: inc/App/Ajax/Backend/InstallDemo.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\InstallDemo\:\:clearNavMenus\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: inc/App/Ajax/Backend/InstallDemo.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\InstallDemo\:\:importDemoContent\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: inc/App/Ajax/Backend/InstallDemo.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\InstallDemo\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/InstallDemo.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: inc/App/Ajax/Backend/InstallDemo.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\InstallPlugins\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/InstallPlugins.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Backend\\DeactivateNotice\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Backend/DeactivateNotice.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: inc/App/Backend/DeactivateNotice.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 5
			path: inc/App/Backend/Enqueue.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Backend\\Enqueue\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Backend/Enqueue.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 3
			path: inc/App/Backend/Pages.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Backend\\Pages\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Backend/Pages.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 3
			path: inc/App/Backend/PluginRowMeta.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Backend\\PluginRowMeta\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Backend/PluginRowMeta.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Ajax\\Backend\\RegenerateImages\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Ajax/Backend/RegenerateImages.php

		-
			message: '#^Call to method register\(\) on an unknown class SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: class.notFound
			count: 1
			path: inc/App/General/Hooks.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\General\\Hooks\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/General/Hooks.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 1
			path: inc/App/Rest/DemoStatsEndpoint.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Rest\\DemoStatsEndpoint\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Rest/DemoStatsEndpoint.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Rest\\DemoStatsEndpoint\:\:resolveXmlPath\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: inc/App/Rest/DemoStatsEndpoint.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Rest\\ImportLogEndpoint\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Rest/ImportLogEndpoint.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: inc/App/Rest/RestEndpoints.php

		-
			message: '#^Constant WP_MAX_MEMORY_LIMIT not found\.$#'
			identifier: constant.notFound
			count: 1
			path: inc/App/Rest/RestEndpoints.php

		-
			message: '#^Constant WP_MEMORY_LIMIT not found\.$#'
			identifier: constant.notFound
			count: 1
			path: inc/App/Rest/RestEndpoints.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 4
			path: inc/App/Rest/RestEndpoints.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\App\\Rest\\RestEndpoints\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/App/Rest/RestEndpoints.php

		-
			message: '#^Call to function is_object\(\) with Composer\\Autoload\\ClassLoader will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Call to method check\(\) on an unknown class SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: class.notFound
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Call to method load\(\) on an unknown class SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: class.notFound
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Parameter \#3 \$args of function wp_die expects array\{response\?\: int, link_url\?\: string, link_text\?\: string, back_link\?\: bool, text_direction\?\: string, charset\?\: string, code\?\: string, exit\?\: bool\}\|int, literal\-string&non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Property SigmaDevs\\EasyDemoImporter\\Bootstrap\:\:\$i18n \(SigmaDevs\\EasyDemoImporter\\Config\\I18n\) does not accept SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: assign.propertyType
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Property SigmaDevs\\EasyDemoImporter\\Bootstrap\:\:\$requirements \(SigmaDevs\\EasyDemoImporter\\Config\\Requirements\) does not accept SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: assign.propertyType
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Strict comparison using \=\=\= between true and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: inc/Bootstrap.php

		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: inc/Common/Abstracts/ImporterAjax.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 1
			path: inc/Common/Abstracts/ImporterAjax.php

		-
			message: '#^Offset ''basedir'' on \*NEVER\* in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: inc/Common/Abstracts/ImporterAjax.php

		-
			message: '#^Property SigmaDevs\\EasyDemoImporter\\Common\\Abstracts\\ImporterAjax\:\:\$uploadsDir \(string\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: inc/Common/Abstracts/ImporterAjax.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: inc/Common/Abstracts/ImporterAjax.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 9
			path: inc/Common/Functions/Actions.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 19
			path: inc/Common/Functions/Actions.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: inc/Common/Functions/Functions.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: inc/Common/Functions/Helpers.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 2
			path: inc/Common/Functions/Helpers.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: inc/Common/Models/Customizer.php

		-
			message: '#^Constant WPINC not found\.$#'
			identifier: constant.notFound
			count: 1
			path: inc/Common/Models/Customizer.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\Common\\Models\\Customizer\:\:mediaHandleSideload\(\) never returns bool so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: inc/Common/Models/Customizer.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\Common\\Models\\Customizer\:\:mediaHandleSideload\(\) never returns int so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: inc/Common/Models/Customizer.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\Common\\Models\\Customizer\:\:mediaHandleSideload\(\) never returns string so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: inc/Common/Models/Customizer.php

		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Call to function is_object\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Call to function is_string\(\) with non\-falsy\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Parameter \#1 \$array \(non\-empty\-list\<non\-falsy\-string\>\) to function array_filter does not contain falsy values, the array will always stay the same\.$#'
			identifier: arrayFilter.same
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Strict comparison using \!\=\= between ''__PHP_Incomplete…'' and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Variable \$should_skip in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Variable \$update_later in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: inc/Common/Models/DBSearchReplace.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 1
			path: inc/Common/Models/Widgets.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: inc/Common/Models/Widgets.php

		-
			message: '#^Constant SD_EDI_ROOT_FILE not found\.$#'
			identifier: constant.notFound
			count: 1
			path: inc/Common/Utils/Errors.php

		-
			message: '#^Function sd_edi not found\.$#'
			identifier: function.notFound
			count: 1
			path: inc/Common/Utils/Errors.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\Config\\I18n\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/Config/I18n.php

		-
			message: '#^Constant SD_EDI_ROOT_FILE not found\.$#'
			identifier: constant.notFound
			count: 4
			path: inc/Config/Plugin.php

		-
			message: '#^Method SigmaDevs\\EasyDemoImporter\\Config\\Requirements\:\:instance\(\) has invalid return type SigmaDevs\\EasyDemoImporter\\Common\\Traits\\Singleton\.$#'
			identifier: return.trait
			count: 1
			path: inc/Config/Requirements.php
