<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap-unit.php"
	colors="true"
	cacheResult="false"
	convertDeprecationsToExceptions="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnRisky="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">inc/Common/Importer</directory>
		</include>
	</coverage>
</phpunit>
