/**
 * Component: Panel.
 */

.appearance_page_sd-edi-demo-importer-status {
	.ant-collapse {
		border: 0;
		background: #fff;
		box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.05);

		.ant-collapse-item {
			border: 0;

			.ant-collapse-header {
				min-height: 55px;
				align-items: center;
				font-size: 16px;
				padding-left: 60px;
				color: #555;

				.error-count {
					display: block;
					font-size: 12px;
					color: #ff4d4f;
				}
			}

			.ant-collapse-expand-icon {
				svg {
					transform: rotate(90deg);
				}
			}

			&.ant-collapse-item-active {
				border-bottom: 1px solid #d9d9d9;

				.ant-collapse-expand-icon {
					svg {
						transform: rotate(270deg) !important;
					}
				}
			}
		}
	}
}
