/**
 * Component: Required Plugins.
 */

.required-plugins {
	.ant-skeleton-title {
		margin-top: 0 !important;
	}

	.ant-skeleton-paragraph {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.ant-skeleton-avatar {
		width: 25px !important;
		height: 25px !important;
	}
}
