/**
 * Component: Header.
 */

.appearance_page_sd-easy-demo-importer {
	.edi-header {
		padding: 20px $default-gutter;
		position: sticky;
		top: 0;
		z-index: 1;

		@extend .edi-white-color-bg;
		@extend .edi-box-shadow;
		@extend .edi-d-flex;
		@extend .edi-justify-content-center;
		@extend .edi-align-items-center;

		img {
			width: 160px;
			height: 45px;
		}

		h1 {
			text-align: center;
			font-size: 25px;
			color: #403a3a;
			display: block !important;
			font-weight: 500;
			margin-left: 10px;
			padding: 0;
		}
	}

	&.admin-bar {
		.edi-header {
			top: 32px;
		}
	}
}
