/**
 * Component: Required Plugins.
 */

.required-plugins {
	.skeleton-list {
		margin-top: 30px;
		height: 145px;

		@media only screen and (min-height: 680px) {
			height: 195px;
		}

		@media only screen and (min-height: 765px) {
			height: 220px;
		}
	}

	.ant-skeleton {
		padding: 6px 0 10px;
		margin-bottom: 6px;
	}

	.ant-skeleton-title {
		margin-top: 0 !important;
		border: 0 !important;
	}

	.ant-skeleton-paragraph {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.ant-skeleton-avatar {
		width: 20px !important;
		height: 20px !important;
	}
}
