/**
 * Component: Support Modal.
 */

.appearance_page_sd-edi-demo-importer-status,
.appearance_page_sd-easy-demo-importer {
	.support-modal {
		.ant-modal-content {
			height: auto;

			.ant-modal-close {
				top: -10px;
				right: -10px;
				color: #fff;
				width: 25px;
				height: 25px;
				border-radius: 50%;

				@extend .edi-pos-a;
				@extend .edi-primary-color-bg;

				.ant-modal-close-x {
					font-size: 12px;
				}
			}

			.support-modal-header {
				h2 {
					margin: -20px -24px 30px;
					padding: 10px;
					background: #f7f8f9;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.05);
					text-align: center;
					font-size: 18px;
				}

				.anticon {
					position: absolute;
					left: 50%;
					top: 45%;
					transform: translate(-50%, -50%);
					font-size: 120px;
					opacity: 0.07;
				}
			}

			.support-modal-content {
				margin-bottom: 30px;

				p {
					font-size: 16px;
				}
			}

			.support-modal-footer {
				text-align: center;

				.ant-btn {
					background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
					background-size: 200% auto;
					min-width: 130px;
					font-weight: 500;
					height: 40px;
					font-size: 15px;
					transition: all 0.3s;

					&:hover {
						background-position: right center;
					}
				}
			}
		}
	}

	.ant-float-btn-primary {
		.ant-float-btn-body {
			background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
			background-size: 200% auto;
			transition: all 0.3s;

			&:hover {
				background-position: right center;
				transform: scale(1.1);
			}
		}
	}
}


