/**
 * Layout: Tabs.
 */
.edi-container {
	.edi-nav-tabs {
		@extend .edi-pos-r;
		@extend .edi-d-flex;
		@extend .edi-align-items-center;

		flex-direction: column;

		@media only screen and (min-width: 1200px) {
			display: block;
			width: 100%;
		}

		.edi-nav-search {
			@extend .edi-pos-s;
			margin-bottom: 20px;
			width: 60%;

			@media only screen and (min-width: 1200px) {
				position: absolute !important;
				right: 0;
				width: 30%;
				margin-bottom: 0;
				z-index: 10;
			}

			.ant-input-affix-wrapper {
				padding: 0 15px 0 20px;
				height: 45px;

				&:hover,
				&:focus {
					border-color: $color-primary;
					box-shadow: none;
				}

				input {
					outline: none !important;
				}

				.ant-input-suffix {
					svg {
						width: 15px;
						height: 15px;
					}
				}
			}

			.ant-input-group-addon {
				.ant-btn {
					height: 45px;
					background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
					background-size: 200% auto;
					transition: all 0.3s;

					&:hover {
						background-position: right center;
					}
				}
			}

			&.no-categories {
				@media only screen and (min-width: 1200px) {
					//width: 40%;
				}
			}
		}
	}

	.ant-tabs {
		.ant-tabs-nav-wrap {
			max-width: 100%;

			@media only screen and (min-width: 1200px) {
				max-width: 70%;
				padding-right: 20px;
				justify-content: flex-start !important;
			}
		}

		.ant-tabs-ink-bar {
			height: 100%;
			border-radius: 25px;
			background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
			background-size: 200% auto;
		}

		.ant-tabs-nav {
			margin-bottom: 30px !important;
			padding-bottom: 30px !important;
			justify-content: center;

			@media only screen and (min-width: 1200px) {
				justify-content: flex-start;
			}

			.ant-tabs-nav-list {
				row-gap: 20px;
				overflow-x: auto;
				width: 100%;
			}

			&.no-categories {
				height: 75px;
				border-bottom: 1px solid #f0f0f0;
			}
		}

		.ant-tabs-tab {
			z-index: 1;
			padding: 0 20px;
			height: 45px;
			min-width: 130px;
			font-size: 15px;
			font-weight: 500;
			justify-content: center;

			+ .ant-tabs-tab {
				margin: 0 !important;
			}

			&.ant-tabs-tab-active {
				.ant-tabs-tab-btn {
					@extend .edi-white-color;
				}
			}

			&.ant-tabs-tab-disabled {
				+ .ant-tabs-ink-bar {
					filter: grayscale(100%);
				}
			}
		}
	}
}
