/**
 * Layout: Import Result.
 */

.appearance_page_sd-easy-demo-importer {
	.ant-result-success {
		text-align: center;
		height: 254px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 48px 32px;

		.check-container {
			width: 6.25rem;
			height: 7.5rem;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;

			.check-background {
				width: 100%;
				height: calc(100% - 1.25rem);
				background: linear-gradient(to bottom right, #5de593, #41d67c);
				box-shadow: 0 0 0 65px rgba(255, 255, 255, 0.25) inset,
				0 0 0 65px rgba(255, 255, 255, 0.25) inset;
				transform: scale(0.84);
				border-radius: 50%;
				animation: ediAnimateContainer 0.75s ease-out forwards 0.75s;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;

				svg {
					width: 65%;
					transform: translateY(0.25rem);
					stroke-dasharray: 80;
					stroke-dashoffset: 80;
					animation: ediAnimateCheck 0.35s forwards 1.25s ease-out;
				}
			}

			.check-shadow {
				bottom: calc(-15% - 5px);
				left: 0;
				border-radius: 50%;
				background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
				animation: ediAnimateShadow 0.75s ease-out forwards 0.75s;
			}
		}

		.ant-result-title,
		.ant-result-extra {
			opacity: 0;
		}

		.ant-result-title {
			animation: ediFadeIn 0.5s ease 1.5s forwards;

			h3 {
				font-size: 30px;
				font-weight: 500;
			}
		}

		.ant-result-extra {
			column-gap: 15px;
			animation: ediFadeIn 0.5s ease 2s forwards;
		}
	}

	.ant-result-error {
		.ant-result-title {
			font-size: 30px;
			font-weight: 500;
			margin-top: 40px;
			margin-bottom: 30px;
			line-height: 1.57;
		}
	}

	.ant-result {
		.ant-result-extra {
			.ant-btn {
				&.ant-btn-primary,
				&.ant-btn-default {
					min-width: 130px;
					font-weight: 500;
					height: 40px;
					font-size: 15px;
					transition: all 0.3s;
				}

				&.ant-btn-primary {
					background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
					background-size: 200% auto;

					&:hover {
						background-position: right center;
					}
				}

				&.ant-btn-default {
					&:hover {
						color: #2d74d5;
						border-color: #2d74d5;
					}
				}
			}
		}
	}
}
