/**
 * Layout: Modal.
 */

.appearance_page_sd-easy-demo-importer {
	.ant-modal-root {
		.ant-modal:not(.confirmation-modal):not(.requirement-modal) {
			@media only screen and (min-width: 1600px) {
				width: 1000px !important;
			}

			@media only screen and (min-width: 1920px) {
				width: 1200px !important;
			}
		}
	}

	.ant-modal-content {
		height: 600px;

		@media only screen and (min-height: 680px) {
			height: 650px;
		}

		@media only screen and (min-height: 765px) {
			height: 700px;
		}

		@media only screen and (min-height: 850px) {
			height: 750px;
		}

		@media only screen and (min-height: 950px) {
			height: 800px;
		}

		@media only screen and (min-height: 1050px) {
			height: 850px;
		}
	}

	.confirmation-modal {
		.ant-modal-content {
			height: auto !important;

			.ant-btn-primary {
				background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
				background-size: 200% auto;

				&:hover {
					background-position: right center;
				}
			}

			.ant-btn-default {
				&:hover {
					//color: #2d74d5;
					//border-color: #2d74d5;
					border-color: $color-primary;

					@extend .edi-primary-color;
				}
			}

			.ant-modal-confirm-body {
				.anticon {
					font-size: 30px;
					margin-right: 20px;
					margin-top: 5px;
				}

				.anticon,
				.ant-modal-confirm-title {
					@extend .warn-text;
				}
			}
		}
	}

	.ant-modal-body {
		.ant-col {
			@extend .edi-pos-s;
		}

		.configure-col {
			justify-content: flex-start;
			align-self: flex-start;

			@extend .edi-d-flex;

			@media only screen and (min-height: 765px) {
				justify-content: center;
				align-self: center;
			}
		}

		.modal-content {
			&.step {
				margin: 0 6px;

				//&.fade-in {
				//	max-height: 400px;
				//	overflow-y: auto;
				//}
			}

			.modal-content-inner {
				&.modal-row {
					flex-wrap: wrap;
					margin-left: -15px;
					margin-right: -15px;

					@extend .edi-d-flex;

					.modal-col-6 {
						@extend .edi-pos-r;

						flex: 0 0 50%;
						max-width: 50%;
						padding-left: 15px;
						padding-right: 15px;
					}

					.ant-image {
						overflow-y: auto;
						max-height: 375px;
						border-radius: 6px;
						box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);

						@extend .no-scrollbar;
						@extend .edi-pos-s;

						@media only screen and (min-height: 765px) {
							max-height: 410px;
						}

						@media only screen and (min-height: 850px) {
							max-height: 450px;
						}

						@media only screen and (min-height: 950px) {
							max-height: 500px;
						}

						@media only screen and (min-height: 1050px) {
							max-height: 550px;
						}

						&::after {
							@extend .edi-pos-a;

							content: '';
							left: 15px;
							bottom: 5px;
							width: calc(100% - 30px);
							height: 60px;
							border-radius: 6px;
							background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
						}
					}
				}

				.modal-content-text {
					@extend .edi-pos-r;

					&::before {
						content: "";
						display: block;
						background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 50%, #fff 100%);
						bottom: 0;
						left: 0;
						height: 60px;
						width: 100%;
						z-index: 1;

						@extend .edi-pos-a;
					}

					.import-notice {
						height: 330px;
						overflow-y: auto;
						padding-bottom: 20px;

						@extend .no-scrollbar;

						@media only screen and (min-height: 765px) {
							height: 370px;
						}

						@media only screen and (min-height: 950px) {
							height: 430px;
						}

						@media only screen and (min-height: 1050px) {
							height: 480px;
						}
					}
				}

				h3 {
					padding: 6px 15px;
					//border-left: 5px solid #2d74d5;
					border-left: 5px solid $color-primary;
					font-size: 18px;
					font-weight: 500;
					margin: 0;
					margin-bottom: 20px;
				}

				.down-arrow {
					@extend .edi-pos-a;
					@extend .edi-primary-color;

					top: calc(100% - 60px);
					left: 50%;
					margin-left: -2px;
					width: 0;
					height: 20px;
					border: 2px solid;
					border-radius: 2px;
					animation: ediJumpInfinite 1.5s infinite;
					z-index: 10;
				}

				.down-arrow:after {
					content: " ";
					position: absolute;
					top: 8px;
					left: -8px;
					width: 12px;
					height: 12px;
					border-bottom: 4px solid;
					border-right: 4px solid;
					border-radius: 4px;
					transform: rotateZ(45deg);
				}
			}

			.import-notice {
				p {
					font-size: 18px;
				}
			}

			.required-plugins {
				@extend .edi-pos-r;

				&::before {
					content: '';
					display: block;
					background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 50%, #fff 100%);
					bottom: 0;
					left: 0;
					height: 60px;
					width: 100%;
					z-index: 1;

					@extend .edi-pos-a;
				}

				p {
					font-size: 15px;
				}

				.ant-list {
					max-height: 145px;
					overflow-y: auto;
					margin-top: 30px;

					@media only screen and (min-height: 680px) {
						max-height: 195px;
					}

					@extend .no-scrollbar;

					@media only screen and (min-height: 765px) {
						max-height: 220px;
					}

					@media only screen and (min-height: 850px) {
						max-height: 300px;
					}

					@media only screen and (min-height: 950px) {
						max-height: 350px;
					}

					@media only screen and (min-height: 1050px) {
						max-height: 400px;
					}

					.ant-list-items {
						margin-bottom: 40px;
					}

					.ant-list-item-meta-avatar {
						font-size: 20px;
						top: -2px;

						@extend .edi-pos-r;
					}

					.ant-list-item {
						padding: 6px 0 10px;
					}
				}
			}

			.import-options {
				padding: 30px;
				//border: 2px solid #2d74d5;
				border: 2px solid $color-primary;
				//height: 300px;
				flex-direction: column;

				@extend .edi-d-flex;
				@extend .edi-justify-content-center;

				@media only screen and (min-height: 765px) {
					//height: 310px;
				}

				h3 {
					margin-bottom: 30px;
				}

				.option-details {
					p {
						font-size: 14px;
						color: #777;
						font-style: italic;
					}

					&.warn-text {
						p {
							@extend .warn-text;
						}
					}
				}

				.choose {
					column-gap: 15px;

					h4 {
						margin-bottom: 0;
						margin-top: 0;
					}

					.ant-switch {
						&.ant-switch-checked {
							background-image: linear-gradient(109.6deg, rgb(45, 116, 213) 11.2%, rgb(121, 137, 212) 91.2%);
							background-size: 200% auto;

							&:hover {
								background-position: right center;
							}
						}
					}
				}

				.import-option {
					&:not(:last-child) {
						border-bottom: 1px solid rgba(5, 5, 5, 0.06);
						margin-bottom: 20px;
					}

					&.last {
						.option-details {
							p {
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}

		.step-actions {
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 20px 30px;
			display: flex;
			justify-content: space-between;
			border-top: 1px solid #eee;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			z-index: 1;

			@extend .edi-pos-a;
			@extend .edi-white-color-bg;

			.ant-btn {
				@extend %primary-btn;
			}

			.actions-right {
				column-gap: 20px;
			}
		}
	}
}
