/**
 * Global CSS.
 */
:root {
	--edi-color-primary: #2d74d5;
	--edi-color-secondary: #111;
	--edi-color-heading: #666;
	--edi-color-grey: #f8faff;
	--edi-color-border: #e2e2e2;
}

.edi-demo-importer-wrapper {
	* {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.appearance_page_sd-easy-demo-importer {
	.ant-modal-content {
		* {
			box-sizing: border-box;
		}
	}

	.ant-image-preview-mask {
		background-color: rgba(0, 0, 0, 0.7) !important;
	}
}
