/**
 * Global CSS.
 */
:root {
	--edi-color-primary: #2d74d5;
	--edi-color-secondary: #111;
	--edi-color-heading: #666;
	--edi-color-grey: #f8faff;
	--edi-color-border: #e2e2e2;
}

.edi-demo-importer-wrapper {
	* {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	//.ant-col-xxl-6 {
	//	@media only screen and (min-width: 1800px) {
	//		display: block;
	//		flex: 0 0 20%;
	//		max-width: 20%;
	//	}
	//
	//	@media only screen and (min-width: 2000px) {
	//		display: block;
	//		flex: 0 0 16.67%;
	//		max-width: 16.67%;
	//	}
	//}
}
