/**
 * Global CSS.
 */
:root {
	--rtdi-color-primary: #0066ff;
	--rtdi-color-secondary: #111;
	--rtdi-color-heading: #666;
	--rtdi-color-grey: #f8faff;
	--rtdi-color-border: #e2e2e2;
}

.rtdi-demo-importer-wrapper {
	* {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
