/**
 * Utility CSS.
 */
.edi-d-flex {
	@extend %d-flex;
}

.edi-flex-wrap {
	@extend %flex-wrap;
}

.edi-justify-content-center {
	@extend %justify-content-center;
}

.edi-align-items-center {
	@extend %align-items-center;
}

.edi-primary-color {
	@extend %primary-color;
}

.edi-primary-color-bg {
	@extend %primary-color-bg;
}

.edi-secondary-color {
	@extend %secondary-color;
}

.edi-secondary-color-bg {
	@extend %secondary-color-bg;
}

.edi-white-color {
	@extend %white-color;
}

.edi-white-color-bg {
	@extend %white-color-bg;
}

.edi-black-color {
	@extend %black-color;
}

.edi-black-color-bg {
	@extend %black-color-bg;
}

.edi-default-gutter {
	@extend %default-gutter;
}

.edi-mb-0 {
	@extend %mb-0;
}

.edi-pos-s {
	@extend %pos-s;
}

.edi-pos-r {
	@extend %pos-r;
}

.edi-pos-a {
	@extend %pos-a;
}

.edi-box-shadow {
	@extend %box-shadow;
}

.warn-text {
	color: #dc3545 !important;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
