// ===========================
//	Variables
// ===========================

$color-primary: var(--edi-color-primary);
$color-secondary: var(--edi-color-secondary);
$color-heading: var(--edi-color-heading);
$color-white: #ffffff;
$color-black: #000000;
$color-grey: var(--edi-color-grey);
$color-border: var(--edi-color-border);

$default-gutter: 30px;
