/* ================================
	Admin CSS.
===================================*/

// Abstracts
@import "abstracts/__abstracts-dir";

// Base Styles
@import "base/__base-dir";

// Components
@import 'components/_components-dir';

// Layouts
@import 'layouts/__layouts-dir';

/*
@keyframes "rtdi-check-left" {
	0% {
		transform: rotate(-90deg);
		left: -4px;
		height: 30px;
		bottom: -8px;
	}
	100% {
		transform: rotate(-45deg);
		left: -5px;
		height: 20px;
		bottom: -5px;
		background: #4BB543;
	}
}

@keyframes "rtdi-check-right" {
	0% {
		transform: rotate(90deg);
		right: -4px;
		height: 30px;
		bottom: -8px;
	}
	100% {
		transform: rotate(45deg);
		right: 4px;
		height: 40px;
		bottom: -10px;
		background: #4BB543;
	}
}

@keyframes "rtdi-border-color" {
	0% {
		border: 6px solid #00adff;
	}
	100% {
		border: 6px solid #4BB543;
	}
}

@keyframes "rtdi-rotate" {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes "dots" {
	0%, 20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: #444;
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: .25em 0 0 #444, .5em 0 0 rgba(0, 0, 0, 0);
	}
	80%, 100% {
		text-shadow: .25em 0 0 #444, .5em 0 0 #444;
	}
}

.rtdi-clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	&:before {
		content: "";
		display: table;
	}
}

.rtdi-demo-importer-wrap {
	* {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
	}
}

.rtdi-tab-filter {
	background: #FFF;
	border: 1px solid #DDD;
	padding: 12px;
	margin-top: 20px;
}

.rtdi-tab {
	display: inline-block;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 20px;
}

.rtdi-tab.rtdi-active {
	background: #0073aa;
	color: #FFF;
}

.rtdi-tag-group {
	float: left;
}

.rtdi-pagebuilder-group {
	float: right;
}

.rtdi-demo-box-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	margin-top: 25px;
}

.rtdi-demo-box {
	margin: 0 0 40px;
	padding: 0 20px;
	width: 20%;

	img {
		display: block;
		width: 100%;
	}

	h4 {
		margin: 0;
		padding: 0 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 15px;
		font-weight: 600;
		background-color: #fafafa;
		line-height: 48px;
	}

	&:hover {
		.rtdi-demo-buttons {
			display: block;
		}
	}
}

.rtdi-demo-elements {
	position: relative;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
}

.rtdi-ribbon {
	width: 75px;
	height: 75px;
	overflow: hidden;
	position: absolute;
	top: -8px;
	right: -8px;

	&::before {
		position: absolute;
		z-index: -1;
		content: '';
		display: block;
		border: 5px solid #b12222;
		border-top-color: transparent;
		border-right-color: transparent;
		top: 0;
		left: 1px;
	}

	&::after {
		position: absolute;
		z-index: -1;
		content: '';
		display: block;
		border: 5px solid #b12222;
		border-top-color: transparent;
		border-right-color: transparent;
		bottom: 1px;
		right: 0;
	}

	span {
		position: absolute;
		display: block;
		width: 120px;
		padding: 8px 0;
		background-color: #d42929;
		box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		line-height: 12px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		text-transform: uppercase;
		text-align: center;
		left: -12px;
		top: 13px;
		transform: rotate(45deg);
	}
}

.rtdi-demo-actions {
	position: relative;
	border-top: 1px solid #ddd;
}

.rtdi-demo-buttons {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	height: 48px;
	padding: 10px;
	opacity: 1;
	background: rgba(244, 244, 244, 0.8);

	a {
		margin: 0 2px;
	}
}

.rtdi-modal {
	border: 1px solid #eee;
	background: #fff;
	margin-top: 30px;
}

.rtdi-modal-header {
	position: relative;
	padding: 15px 30px;
	font-size: 14px;
	margin: 0;
	line-height: 1.4;
	background: #ffffff;
	border-bottom: 1px solid #eee;

	h2 {
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 18px;
	}

	.rtdi-modal-back {
		position: absolute;
		right: 0;
		top: 0;
		border-left: 1px solid #EEE;
		height: 48px;
		width: 48px;
		text-align: center;
		cursor: pointer;

		.dashicons {
			line-height: 48px;
			opacity: 0.8;
			display: inline-block;
			font-size: 22px;
		}
	}
}

.rtdi-modal-wrap {
	padding: 30px;

	p {
		margin: 0 0 15px;
		padding: 0;
	}
}

.rtdi-modal-recommended-plugins {
	h4 {
		margin: 30px 0 15px;
		font-size: 16px;
	}

	ul {
		margin: 0 0 15px;
		padding: 0;

		li {
			margin-bottom: 10px;
		}
	}
}

.rtdi-reset-checkbox {
	h4 {
		margin: 30px 0 15px;
		font-size: 16px;
		margin: 0 0 15px;
	}

	margin: 30px 0;
	border: 2px solid #EEE;
	padding: 20px;
}

.rtdi-exclude-image-checkbox {
	h4 {
		margin: 30px 0 15px;
		font-size: 16px;
	}
}

.rtdi-plugin-status {
	li {
		.dashicons-warning {
			color: #ffb900;
		}

		.dashicons-dismiss {
			color: #c00;
		}

		.dashicons-yes-alt {
			color: #46b450;
		}
	}

	.rtdi-inactive {
		i {
			color: #ffb900;
		}
	}

	.rtdi-install {
		i {
			color: #c00;
		}
	}

	.rtdi-active {
		i {
			color: #46b450;
		}
	}
}

.rtdi-reset-website-checkbox {
	color: #FF0000;
}

#rtdi-import-progress {
	background: #FFF;
	text-align: center;
	margin-top: 25px;

	.rtdi-import-progress-header {
		padding: 15px;
		border-bottom: 1px solid #EEE;
		margin: 0;
	}

	.rtdi-import-loader {
		svg {
			display: none;
		}
	}

	.rtdi-import-progress-message {
		font-size: 20px;
		margin-top: 50px;
		line-height: 1.4;
	}
}

.rtdi-import-progress-wrap {
	padding: 40px;
}

#rtdi-import-progress.import-success {
	.rtdi-import-loader {
		svg {
			display: block;
		}

		img {
			display: none;
		}
	}
}

.rtdi-import-progress-message {
	.button {
		margin: 0 4px;
	}

	&:after {
		content: '.';
		animation: dots 1s linear infinite;
	}
}

body.rtdi-modal-opened {
	.rtdi-tab-filter {
		display: none;
	}

	.rtdi-demo-box-wrap {
		display: none;
	}
}

.rtdi-loader-content {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 5px solid #00adff;
	border-radius: 100%;
}

.rtdi-loader-content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.rtdi-loader-rotater {
	width: 100%;
	height: 100%;
	position: relative;
	animation: rtdi-rotate 3s linear infinite 1s;

	&:before {
		content: "";
		position: absolute;
		top: 0x;
		left: 50%;
		margin-left: -4px;
		height: 8px;
		width: 8px;
		background: #00adff;
		border-radius: 100%;
	}
}

.rtdi-loader-line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
	transition: height 0.15s ease 0.45s;

	&:before {
		content: "";
		position: absolute;
		width: 5px;
		height: 30px;
		bottom: -8px;
		background: #00adff;
		border-radius: 10px;
		transition: transform 0.1s ease 0.5s, left 0.1s ease 0.5s, right 0.1s ease 0.5s;
		right: 0px;
		transform: rotate(45deg);
	}

	&:after {
		content: "";
		position: absolute;
		width: 5px;
		height: 30px;
		bottom: -8px;
		background: #00adff;
		border-radius: 10px;
		transition: transform 0.1s ease 0.5s, left 0.1s ease 0.5s, right 0.1s ease 0.5s;
		left: 0px;
		transform: rotate(-45deg);
	}
}

.import-success {
	.rtdi-loader-content {
		animation: rtdi-border-color 0.25s forwards 1s;
	}

	.rtdi-loader-rotater {
		display: none;
	}

	.rtdi-loader-line-point {
		&:after {
			transform: rotate(-90deg);
			left: -4px;
			animation: rtdi-check-left 0.25s forwards 1s;
		}

		&:before {
			transform: rotate(90deg);
			right: -4px;
			animation: rtdi-check-right 0.25s forwards 1s;
		}
	}

	.rtdi-import-progress-message {
		&:after {
			content: '';
			animation: none;
		}
	}
}

.import-error {
	.rtdi-loader-rotater {
		animation: none;
	}

	.rtdi-import-progress-message {
		&:after {
			content: '';
			animation: none;
		}
	}
}

@media only screen and (max-width: 2000px) {
	.rtdi-demo-box {
		width: 25%;
	}
}

@media only screen and (max-width: 1640px) {
	.rtdi-demo-box {
		width: 33.33%;
	}
}

@media only screen and (max-width: 1120px) {
	.rtdi-demo-box {
		width: 50%;
	}
}

@media only screen and (max-width: 480px) {
	.rtdi-demo-box {
		width: 100%;
	}
}

@media only screen and (min-width: 1120px) {
	.rtdi-demo-importer-wrap {
		margin-right: 5%;
	}
}

@media screen and (max-width: 782px) {
	.rtdi-demo-box {
		h4 {
			line-height: 60px;
		}
	}
	.rtdi-demo-buttons {
		height: 60px;
	}
}
*/
