/* ================================ */
/* Backend Extra RTL CSS.
/* ================================ */

%mirror {
	transform: scaleX(-1);
}

%mirror-rotate {
	transform: scaleX(-1) rotate(360deg);
}

.appearance_page_sd-easy-demo-importer {
	#sd-edi-demo-import-container {
		> .ant-float-btn-group {
			right: auto !important;
			left: 50px;
		}
	}

	.ant-modal-body {
		.step-actions {
			.actions-right {
				.anticon {
					&-arrow-left,
					&-arrow-right {
						@extend %mirror;
					}
				}
			}
		}
	}

	.ant-result {
		.ant-result-extra {
			.ant-btn {
				&.ant-btn-primary {
					.anticon-export {
						@extend %mirror;
					}
				}
			}
		}
	}
}
